<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TCPConnectionApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TCPConnectionApp.Properties.Settings>
            <setting name="ServerPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="ClientPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EncKey" serializeAs="String">
                <value>C409BA1B89E3F56B</value>
            </setting>
            <setting name="EncKey2" serializeAs="String">
                <value>0F2D0383D4DCABC1</value>
            </setting>
            <setting name="Encrypt" serializeAs="String">
                <value>True</value>
            </setting>
        </TCPConnectionApp.Properties.Settings>
    </userSettings>
</configuration>